{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="card"style="width: 18rem; margin: 35px auto">
                    <img src="{{ product.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }}</p>
                        <a href="{{ path("app_product", {id:product.id}) }}" class="btn btn-primary"> next page</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>

    </div>
{% endblock %}

