* {
    font-family: 'Roboto', sans-serif;
}

li{
    align-self: center;
    font-size: 20px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.nav-link{
    color: white;
}
i{
    font-size: 130px;
}