{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
</style>
    <div class="row">
        <div class="col">
                <div class="card"style="width: 18rem; margin: 35px auto">
                    <img src="{{ products.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ products.name }}</h5>
                        <h5 class="card-title"> €{{ products.price }}</h5>
                    </div>
                </div>
        </div>
        <div class="col">
            <form>
                <div class="form-group col-md-4">
                    <label for="inputState">pizza size</label>
                    <select id="inputState" class="form-control">
                        <option selected> click here to choose</option>
                        <option >Medium(25cm)</option>
                        <option> Large(35cm)</option>
                        <option> Calzone</option>
                    </select>
                    <label for="inputState"> amount</label>
                    <select id="inputState" class="form-control">
                        <option selected>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <br>
                <a href="{{ path("app_data") }}" class="btn btn-primary"> bestellen</a>
            </form>
        </div>
    </div>

{% endblock %}
