{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
{#            {% for category in categories %}#}

{#            {% endfor %}#}
        </div>
        <br>

    </div>
{% endblock %}
